/dist/
/adapter/ 
/node_modules/
.bun/         

.env
.env.local
.env.*
.local    
.cache/       
.mf/            
.rollup.cache/  
tsconfig.tsbuildinfo 
tmp/           
.vscode/       
*.local         ggV

